* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.app-main {
  width: 100%;
  height: 100vh;
  background: hsl(30, 38%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
  @import "./card.scss";
}
